/* try take out the centering ? */
body {
	margin: 0 auto;
	padding: 0;
	max-width: 1024px;
	font-family: Verdana, Sans-Serif;
} 
main {
	margin: 0 1em;
}
header {
	color: #a0a;
	background-color: #ddf;
	padding: 0.2em;
	border-bottom: 1px solid black;
}
header p {
	line-height: 2em;
	font-size: 2em;
	margin: 0;
	padding-left: 1em;
	font-weight: bold;
}
header p small {
	font-size: 0.5em;
}
nav ul {
	list-style-type: none;
	border-left: 1px solid black;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	border-right: 1px solid black;
	padding: 2px 10px;
	margin: 0;
}
nav ul li a.active {
	font-weight: bold;
}
img#logo {
    vertical-align: middle;
    max-width: 80px;
    max-height: 80px;
} 
pre, code {
	font-family: Monaco, Courier, monospace;
	tab-size: 1em;
}
pre {
	padding: 1em;
	margin: 1em 0;
	overflow-x: auto;
	background-color: #111;
	color: #6f6;
	border-radius: 0.5em;
}
li {
	margin-left: 1em;
}
p {
	margin: 1em 0;
	line-height: 1.5em;
}
a {
	color: #009;
	text-decoration: none;
}
blockquote {
	background: #eee;
	padding: 0.5em 1em;
	margin: 0 0 0 0.5em;
	border-radius: 0.5em;
}
div.inline-img img {
	max-width: 100%;
}
footer {
	margin-top: 20px;
	border-top: 1px solid black;
}
footer img {
    height:22px!important;
    margin-left:3px;
    vertical-align:text-bottom;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #444;
	}
	a {
		color: #99f;
	}
	blockquote {
		color: #fff;
		background: #333;
	}
}
