/* style2.css */

#d123 {
  background-color: #41c773;
  border: 2px solid green;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.div10 {
    align-self: start;
}

.div11 {
    align-self: center;
}

.div12 {
    align-self: end;
}

.box {
  display: flex;
  flex-wrap: wrap;
}
