/* style.css */
nav ul {
	list-style-type: none;
	border-left: 1px solid black;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	border-right: 1px solid black;
	padding: 2px 10px;
	margin: 0;
}
nav ul li a.active {
	font-weight: bold;
}

